/*body {
    background-color: #eee;
    font-family: 'Open Sans';
}

table th,
table td {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #BEF2F5
}

.pagination li:hover {
    cursor: pointer;
}

.container {
    margin-top: 150px;
}*/

.Banner {
    height: 200px;
    width: 220px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 8px;
    background-size: 100% 100%;
    display: inline-block;
}